<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.webp">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="car" src="img/gtr.webp">
        </div>
        {{>footer}}
    </body>

</html>